<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22282868415-nnt2qi69jtdu0isk8kokqcc0k5keub5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22282868415-nnt2qi69jtdu0isk8kokqcc0k5keub5s</string>
	<key>API_KEY</key>
	<string>AIzaSyB-8AlMqbif7aspZzuDKNS1o3XvPFF6i0c</string>
	<key>GCM_SENDER_ID</key>
	<string>22282868415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.latihanddd</string>
	<key>PROJECT_ID</key>
	<string>latihanddd</string>
	<key>STORAGE_BUCKET</key>
	<string>latihanddd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22282868415:ios:d534a5d3f84f44f600d80a</string>
</dict>
</plist>